{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail books</title>
    <link rel="stylesheet" href="{% static 'styles/book.css'%}" />

</head>
<body>
    <section>
        <div style="color: rgb(0, 162, 255);" class="title1">
        <li>Структура и интерпретация компьютерных программ (Харольд Абельсон, Джеральд Джей Сассман)</li> 
        <li>Грокаем алгоритмы (Адитья Бхаргава)</li> 
        <li>Совершенный код (Стив Макконнелл)</li> 
        <li>Автоматное программирование (Н. И. Поликарпова, А. А. Шалыто)</li> 
    </div>  
</section>
    <script src="{% static 'styles/styles_31/31.2.js'%} "></script>
</body>
</html>